<!-- <ion-card>
  <div id="logo" padding text-center>
    <ion-label id ="head">MOIM</ion-label>
  </div>
      <ion-grid (loginStatus)="gotoTabs($event)">
          <ion-input type="text" [(ngModel)]="account.email" placeholder="email" padding-left></ion-input>
          <ion-input type="password" [(ngModel)]="account.password" placeholder="password" name="password" padding-left></ion-input>


         <div padding text-center>
          <button ion-button round block outline color="primary"  class="jello-vertical"  (click)="gotoTabs(account)">
           LOGIN 
          
          </button>
        </div>
    
      <label text-center>
      <ion-grid>
        <ion-row>
          <ion-col col-9> Don't have any account?</ion-col>
          <ion-col col-3 (click)="gotoSignUp()" id='c'>Sign up</ion-col>
        </ion-row>
       
      </ion-grid>
 </label>
   </ion-grid>
    
</ion-card> -->