page-main {
 
    ion-content{
      font-family: 'roboto' !important;
    }
    // image-size{
    //   height: 100%;
    // }
     ion-card {
        border-radius: 200px;
        border-radius: 25px !important;
        // background-color: rgb(226, 186, 186) !important;
       
        }
        .main{
          box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2) !important;
        }
      //  .datetime{
      //    color: rgb(255, 255, 255) !important;
      //   border-radius: 10px !important;
      //   background-color: #ea6852!important;
      //  }
        .slide-title {
          margin-top: 0rem;
          color: rgb(56, 58, 59);
          padding: 0px;
        }
        #text{
          color: aliceblue;
        }
        // ion-fab{
        //   box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2) !important;
        // }
        .carda{
          box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2) !important;
        }
      //  #image-size{
      //   background-size: cover;
      //   }
        // ion-img{
        // height:300;
        // width: 100%;
        // }
          .margin{
        margin: 0 0 0 0;
      }
      .profile-picture {
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 3px;
        border-radius: 100%;
        // -webkit-box-sizing: content-box;
        // -moz-box-sizing: content-box;
        // box-sizing: content-box;
        margin: 0 0 0 0;
        width: 70px;
        height: 70px;
        overflow: hidden;
      }
      .Education{
        background-color: #80cecc !important;
        ion-item{
          background-color: #80cecc !important;
        }
      }
      .Excercise{
        background-color: #d5ad97 !important;
        ion-item{
          background-color: #d5ad97  !important;
        }
      }
       
      .Shopping{
        background-color: #a4cca3 !important;
        ion-item{
          background-color: #a4cca3  !important;
        }
      }
      .Eating{
        background-color: #ec9bad !important;
        ion-item{
          background-color: #ec9bad  !important;
        }
      }
      .Travel{
        background-color: #efd8bd !important;
        ion-item{
          background-color: #efd8bd  !important;
        }
      }
      .Entertainment{
        background-color: #f7c986!important;
        ion-item{
          background-color: #f7c986  !important;
        }
      }
      
     
      
      .profile-picture img {
        width: 70px;
        border-radius: 100%;
      }
      .datetime{
       font-weight: bold !important;
        color: #ea6852 !important;
        h3, h6{
          color: #ea6852 !important;
        }
      }


      .padd1{
        padding-top: 5px;
      }
      h2{
        color: white !important;
      }
      image-size{
        height: 200px !important;
      }
    












        .text-focus-in{
          -webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
          animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both
        }
        .jello-vertical{-webkit-animation:jello-vertical .9s both;animation:jello-vertical .9s both}
        
        
        
        
        /* ----------------------------------------------
      * Generated by Animista on 2019-1-9 17:10:59
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */
      
      @-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}
      /* ----------------------------------------------
      * Generated by Animista on 2019-1-9 17:19:35
      * w: http://animista.net, t: @cssanimista
      * ---------------------------------------------- */
      
      @-webkit-keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}
      




      //loader
      @keyframes lds-ellipsis3 {
        0%, 25% {
          left: 32px;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          left: 32px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        75% {
          left: 100px;
        }
        100% {
          left: 168px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      @-webkit-keyframes lds-ellipsis3 {
        0%, 25% {
          left: 32px;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        50% {
          left: 32px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        75% {
          left: 100px;
        }
        100% {
          left: 168px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
      @keyframes lds-ellipsis2 {
        0% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        25%, 100% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
      }
      @-webkit-keyframes lds-ellipsis2 {
        0% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        25%, 100% {
          -webkit-transform: scale(0);
          transform: scale(0);
        }
      }
      @keyframes lds-ellipsis {
        0% {
          left: 32px;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        25% {
          left: 32px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        50% {
          left: 100px;
        }
        75% {
          left: 168px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          left: 168px;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
      }
      @-webkit-keyframes lds-ellipsis {
        0% {
          left: 32px;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        25% {
          left: 32px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        50% {
          left: 100px;
        }
        75% {
          left: 168px;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          left: 168px;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
      }
      .lds-ellipsis {
        position: relative;
      }
      .lds-ellipsis > div {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
      }
      .lds-ellipsis div > div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f00;
        position: absolute;
        top: 100px;
        left: 32px;
        -webkit-animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
      }
      .lds-ellipsis div:nth-child(1) div {
        -webkit-animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        background: #ef8472;
      }
      .lds-ellipsis div:nth-child(2) div {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
        background: #ea6852;
      }
      .lds-ellipsis div:nth-child(3) div {
        -webkit-animation-delay: -0.25s;
        animation-delay: -0.25s;
        background: #7ccbe2;
      }
      .lds-ellipsis div:nth-child(4) div {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        background: #4961B9;
      }
      .lds-ellipsis div:nth-child(5) div {
        -webkit-animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
        background: #ef8472;
      }
      .lds-ellipsis {
        width: 47px !important;
        height: 47px !important;
        -webkit-transform: translate(-23.5px, -23.5px) scale(0.235) translate(23.5px, 23.5px);
        transform: translate(-23.5px, -23.5px) scale(0.235) translate(23.5px, 23.5px);
      }
}