page-add-event-success {
    // font-family: 'roboto';
    // font-weight: bold;
    //  color: color($colors,primary);
    ion-label{
        font-family: 'roboto';
        font-weight: bold;
         color: color($colors,primary);
    }

}
